[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec="flatpak run org.flameshot.Flameshot"
Terminal=false
Icon=Nextcloud
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
