[Desktop Entry]
Name=Flameshot
GenericName=Screenshot tool
Exec="flameshot"
Terminal=false
Icon=Flameshot
Categories=Images
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
