[core]
	editor = "nvim"

[feature]
	manyFiles = true

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

[init]
	defaultBranch = "main"

[user]
	email = {{ .email | quote }}
	name = "a.wollgarten"

[http]
    postBuffer = 524288000
