#!/usr/bin/env bash
# shellcheck disable=SC2312
set -e
LINE="-------------------------------------------"

if command -v atuin &>/dev/null; then
  echo "Atuin already installed!"
else
  echo "Installing atuin"
  curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh
fi

echo $LINE

if command -v zed &>/dev/null; then
  echo "Zed already installed"
else
  curl -f https://zed.dev/install.sh | sh
fi

echo $LINE

if command -v starship &>/dev/null; then
  echo "starship already installed"
else
  curl -sS https://starship.rs/install.sh | sh
fi

echo $LINE
