#!/usr/bin/env bash
# shellcheck disable=SC2312
set -e
LINE="-------------------------------------------"

export PATH="${HOME}/.local/bin:${HOME}/bin:${PATH}"

if command -v apt &>/dev/null; then
  echo "Debian based system found!"
  # Install Nala
  if command -v nala &>/dev/null; then
    echo "Nala is already installed. Skipping"
  else
    echo "Setting up Nala"
    curl https://gitlab.com/volian/volian-archive/-/raw/main/install-nala.sh | bash
    sudo apt install -t nala nala
    sudo nala fetch --auto -y --https-only --non-free
  fi

  sudo nala install --update -y curl wget git ca-certificates libfuse2 gnupg2

fi

echo $LINE

echo "Setting up flathub"

flatpak remote-add --user --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

echo $LINE

echo "Installing NF"
curl -fsSL https://raw.githubusercontent.com/getnf/getnf/main/install.sh | bash

getnf -i FiraCode FiraMono UbuntuMono UbuntuSans ZedMono

echo $LINE

# echo "Adding alacritty ppa"
# sudo add-apt-repository ppa:aslatter/ppa -y

echo "Adding fish ppa"
sudo add-apt-repository ppa:fish-shell/release-4 -y

echo "Adding Wezterm repo"
curl -fsSL https://apt.fury.io/wez/gpg.key | sudo gpg --yes --dearmor -o /etc/apt/keyrings/wezterm-fury.gpg
echo 'deb [signed-by=/etc/apt/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez/ * *' | sudo tee /etc/apt/sources.list.d/wezterm.list

sudo nala update

echo $LINE

if command -v mise &>/dev/null; then
  echo "Mise already installed!"
else
  echo "Installing mise"
  curl https://mise.run | sh
  echo 'eval "$(~/.local/bin/mise activate bash)"' >> ~/.bashrc
  mise install
fi


{{ if (eq .profile "personal") }}
echo "Adding syncthing ppa"
sudo curl -L -o /etc/apt/keyrings/syncthing-archive-keyring.gpg https://syncthing.net/release-key.gpg
echo "deb [signed-by=/etc/apt/keyrings/syncthing-archive-keyring.gpg] https://apt.syncthing.net/ syncthing stable" | sudo tee /etc/apt/sources.list.d/syncthing.list
echo "deb [signed-by=/etc/apt/keyrings/syncthing-archive-keyring.gpg] https://apt.syncthing.net/ syncthing candidate" | sudo tee /etc/apt/sources.list.d/syncthing.list
{{ end }}

# {{ if (eq .profile "work") }}
#   curl -fsSL https://tailscale.com/install.sh | sh
# {{ end }}
