#!/usr/bin/env bash

export PATH="$HOME/.local/bin/:$HOME/bin/:$PATH"
bindir="$HOME/.local/bin/"

mkdir -p "$bindir"
mkdir -p "$HOME/bin/"

{{ if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") (eq .osid "linux-debian ubuntu") (eq .osid "linux-ubuntu debian") }}

## Debian
echo "Installing Packages"

sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range .packages.linux.ubuntu.nala }} {{.}}{{ end }}
sudo nala install --update -y -o APT::Get::AllowUnauthenticated=true {{ range .packages.linux.ubuntu.nala_url }}{{. | quote}} {{ end }}
flatpak install flathub -y {{ range .packages.linux.ubuntu.flathub}} {{.}}{{ end }}

sudo deb-get install {{ range .packages.linux.ubuntu.deb_get }} {{.}}{{ end }}
sudo pacstall -IPQ {{ range .packages.linux.ubuntu.pacstall }} {{.}}{{ end }}



{{ end }}
