#!/usr/bin/env bash
# shellcheck disable=SC2312
set -e
LINE="-------------------------------------------"

if command -v atuin &>/dev/null; then
  echo "Atuin already installed!"
else
  echo "Installing atuin"
  curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh
fi

echo $LINE

# if type fisher -P &>/dev/null; then
#   echo "Fisher already installed"
# else
#   echo "Installing fisher"
#   curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
#   fisher install
# fi

# echo $LINE

if command -v mise &>/dev/null; then
  echo "Mise already installed!"
else
  echo "Installing mise"
  curl https://mise.run | sh
  echo 'eval "$(~/.local/bin/mise activate bash)"' >> ~/.bashrc
  mise install
fi

echo $LINE

if command -v zed &>/dev/null; then
  echo "Zed already installed"
else
  curl -f https://zed.dev/install.sh | sh
fi


if command -v starship &>/dev/null; then
  echo "starship already installed"
else
  curl -sS https://starship.rs/install.sh | sh
fi

#{{ if (eq .profile "work") }}
#echo "Installing Work UV Packages"
#uv tool install {{ range .packages.linux.ubuntu.work.uv }} {{.}}{{ end }}
#{{ end }}

echo $LINE
