# Only execute this file once per shell.
set fish_greeting ''


if status is-login
    # Login shell initialisation
end

if status is-interactive

    # Abbreviations
    {{- if eq .chezmoi.config.data.profile "personal" }}
    abbr --add -- sshnode 'ssh node@node.leopard-porgy.ts.net'
    abbr --add -- sshnode2 'ssh node@node2.leopard-porgy.ts.net'
    abbr --add -- sshsyncer 'ssh awol@syncer.leopard-porgy.ts.net'
    abbr --add -- sshvh 'ssh vhserver@vhserver.sheep-mulley.ts.net'
    abbr --add -- sshsalt 'ssh salty@saltyp.tail89e6d3.ts.net'
    abbr --add -- tsakb 'sudo tailscale switch abknet.org.github'
    abbr --add -- tsstm 'sudo tailscale switch smokeythemonkey.github'
    {{- end}}
    abbr --add -- cma 'chezmoi add'
    abbr --add -- cmap 'chezmoi apply'
    abbr --add -- cme 'chezmoi edit'
    abbr --add -- cms 'chezmoi status'
    {{- if eq .chezmoi.config.data.profile "work" }}
    abbr --add -- sstdd 'npx sst deploy --profile default --stage awoldev'
    abbr --add -- cdkdd 'uv run cdk deploy --profile default -all'

    {{- end}}

    # Aliases
    alias cat bat
    alias catp 'bat -p'
    alias la 'eza -a'
    alias ll 'eza -l'
    alias lla 'eza -la'
    alias ls eza
    alias lt 'eza --tree'
    alias rmf 'rm -rf'
    alias rmi 'rm - i'
    alias system-update 'sudo nala update && sudo nala upgrade && sudo nala autoremove && flatpak update && mise up && sudo nala autoremove'
    alias zz zellij
    alias cm chezmoi
    {{- if eq .chezmoi.config.data.profile "work" }}

    {{- end}}


    # Interactive shell initialisation
    /usr/bin/zoxide init fish | source

    if test "$TERM" != dumb
        eval (starship init fish)
    end

    atuin init fish | source
    ~/.local/bin/mise activate fish | source

  else
    ~/.local/bin/mise activate fish --shims | source
end


uv generate-shell-completion fish | source
uvx --generate-shell-completion fish | source
