[tools]
usage              = "latest"
python             = "3.12"
neovim             = "0.10.3"
uv                 = "latest"
node               = "22"
age                = "latest"
pre-commit         = "latest"
fzf                = "latest"
ruff               = "latest"
eza                = "latest"
zellij             = "latest"
dust               = "latest"
zoxide             = "0.9.7"
btop               = "latest"
bitwarden          = "latest"
bat                = "latest"
ripgrep            = "latest"
gitui              = "latest"
lazydocker         = "latest"
yazi               = "latest"
{{- if eq .chezmoi.config.data.profile "personal" }}
age-plugin-yubikey = "latest"
"pipx:ansible"     = "latest"
"pipx:yubikey-manager" ="latest"
"pipx:rendercv[full]" = "latest"
{{- end}}
{{- if eq .chezmoi.config.data.profile "work" }}
terraform          = "latest"
awscli             = "latest"
"pipx:cookiecutter"       = "latest"
"pipx:pipenv" = "latest"
"npm:aws-cdk"            = "latest"
"npm:meta"               = "latest"
{{- end}}

[settings]
experimental = true

pipx.uvx = true
#npm.bun = true
