[tools]
usage = "latest"
python = "3.12"
"aqua:neovim/neovim" = "0.11.3"
uv = "latest"
node = "22"
age = "latest"
pre-commit = "latest"
"ubi:junegunn/fzf" = "latest"
"ubi:eza-community/eza" = "latest"
"ubi:zellij-org/zellij" = "latest"
"ubi:bootandy/dust" = "latest"
"ubi:ajeetdsouza/zoxide" = "latest"
"ubi:aristocratos/btop" = "latest"
"ubi:doy/rbw"="latest"
"ubi:sharkdp/bat" = "latest"
"ubi:BurntSushi/ripgrep[exe=rg]" = "latest"
"ubi:gitui-org/gitui" = "latest"
lazydocker = "latest"
"ubi:sxyazi/yazi" = "latest"
chezmoi = "latest"
"aqua:hashicorp/terraform" = "latest"
"ubi:sharkdp/fd" = "latest"
"ubi:starship/starship" = "latest"
"ubi:cantino/mcfly" = "latest"
{{- if eq .chezmoi.config.data.profile "personal" }}
"pipx:ruff" = "latest"
age-plugin-yubikey = "latest"
"pipx:ansible" = "latest"
"pipx:ansible-core" = "latest"
"pipx:yubikey-manager" = "latest"
"pipx:rendercv[full]" = "latest"
"ubi:simulot/immich-go" = "latest"
just = "latest"
"aqua:opentofu/opentofu" = "latest"
{{- end}}
{{- if eq .chezmoi.config.data.profile "work" }}
awscli = "latest"
"pipx:cookiecutter" = "latest"
"pipx:pipenv" = "latest"
"npm:aws-cdk" = "latest"
"npm:meta" = "latest"
"npm:@forge/cli" = "latest"
{{- end}}

[settings]
experimental = true

pipx.uvx = true
npm.bun = false
disable_backends = ["asdf"]
